@keyframes skills-hover {
    0% {
        top: 25%
    }
    25% {
        top: 20%
    }
    75% {
        top: 30%
    }
    100%{
        top: 25%;
    }
}

@keyframes service-hover {
    50%{
        opacity: 1;
    }
}
